extends layout

block content
  h1= title
  p Welcome to #[em Book Library], a very basic Express website developed for practicing.
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout

  if (error && error.length > 0)
    br
    h4.error-msg= error
    br